---
title: "Showcase : Georeferencer"
id: showcase-georeferencer
categories: [pages]
layout: sub-page
---

<section class="showcase showcase-item wrapper">
  {% include showcase_return.html %}
  <div style="width: 400px; height: 320px; position: absolute;">
    <iframe width="440" height="320" src="https://www.youtube.com/embed/pgvykE1ZKrI?rel=0" frameborder="0" allowfullscreen style="width: 400px !important; height: 320px !important;"></iframe>
  </div>
  <div style="margin-left: 420px; height: 320px;">
    <p>This online service allows visual integration of historical map layers and overlaying these on top of aerial imagery and modern base maps. A scanned map available via IIIF can be displayed on the correct position in Google Maps and OpenStreetMap or side-by-side to other maps - just with a few click of a mouse directly in a web browser.</p>
    <p>Via crowdsourcing, you can invite visitors of your website or the general public to actively participate and help your institution with locating of your maps. The service is ready for integration with online catalogues and websites and allow to export the scanned maps to map mashups and GIS software.</p>
    <p>See more at <a href="http://georeferencer.com" target="_blank">georeferencer.com</a>.</p>
  </div>
  {% assign id = "georeferencer" %}
  {% include sub-showcase_md.html %}
</section>
