---
title: "Showcase : Universal Viewer"
id: showcase-wellcome
categories: [pages]
layout: sub-page
---

<section class="showcase showcase-item wrapper">
  {% include showcase_return.html %}

  <div class="uv" data-locale="en-GB:English (GB),cy-GB:Cymraeg" data-config="" data-uri="http://wellcomelibrary.org/iiif/b18035723/manifest" data-collectionindex="0" data-manifestindex="0" data-sequenceindex="0" data-canvasindex="0" data-zoom="-0.3778,0,1.7556,1.3791" data-rotation="0" style="width:800px; height:600px; background-color: #000"></div>
<script type="text/javascript" id="embedUV" src="http://universalviewer.azurewebsites.net/uv-1.5.19/lib/embed.js"></script><script type="text/javascript">/* wordpress fix */</script>

  {% assign id = "wellcome" %}
  {% include sub-showcase_md.html %}
</section>
