---
title: "Showcase : Yale Center for British Art"
id: showcase-ycba
categories: [pages]
layout: sub-page
---

<section class="showcase showcase-item wrapper">
    {% include showcase_return.html %}

    <iframe src="http://collections.britishart.yale.edu/zoom/index.html?image=c0b22208-1eab-4b5e-8bc2-a18390f003b4&credit=Johan%20Joseph%20Zoffany,%201733%E2%80%931810,%20German,%20active%20in%20Britain%20%28from%201760%29,%20The%20Gore%20Family%20with%20George,%20third%20Earl%20Cowper,%20ca.%201775,%20Oil%20on%20canvas,%20Yale%20Center%20for%20British%20Art,%20Paul%20Mellon%20Collection" frameborder="0"></iframe>

    {% assign id = "ycba" %}
    {% include sub-showcase_md.html %}
</section>
