<head>
    <meta charset="utf-8">
    <title>{{ page.title }} &mdash; {{ site.data.organization.name }}</title>
    <meta name="description" content="{{ site.data.organization.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.min.css">
    <link href='//fonts.googleapis.com/css?family=Raleway:100,300,500' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
    <link type="application/atom+xml" rel="self" href="{{ page.webprefix }}/news/atom.xml"/>
    <script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    {% if page.id == 'showcase-leaflet' %}
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
        <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://mejackreed.github.io/Leaflet-IIIF/leaflet-iiif.js"> </script>
    {% endif %}
  </head>
